html {

  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

*, *:before, *:after {

  -moz-box-sizing: inherit; -webkit-box-sizing: inherit; box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {

  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: normal;
  -webkit-font-smoothing: antialised;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, span, a, li, button {

  font-family: 'Lato', sans-serif;
}